cpu-bind=MASK - cn631, task  0  0 [5057]: mask 0x55 set
cpu-bind=MASK - cn631, task  0  0 [6361]: mask 0x55 set
cpu-bind=MASK - cn655, task  1  0 [8489]: mask 0x55 set
Tested refl1d at process 7 of 8 on cn655.scarf.rl.ac.uk.
Tested refl1d at process 4 of 8 on cn655.scarf.rl.ac.uk.
Tested refl1d at process 6 of 8 on cn655.scarf.rl.ac.uk.
Tested refl1d at process 5 of 8 on cn655.scarf.rl.ac.uk.
Tested refl1d at process 3 of 8 on cn631.scarf.rl.ac.uk.
Tested refl1d at process 0 of 8 on cn631.scarf.rl.ac.uk.
Tested refl1d at process 1 of 8 on cn631.scarf.rl.ac.uk.
Tested refl1d at process 2 of 8 on cn631.scarf.rl.ac.uk.
